.Header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  background: var(--chakra-colors-chakra-body-bg);
  border-bottom: 1px solid var(--chakra-colors-chakra-border-color);
}

.Header-sticky + div {
  padding-top: 60px;
}
