html {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

*,
*:before,
*:after {
  font-family: "Raleway", sans-serif;
  box-sizing: inherit;
}

html,
body,
#root,
body > #root > div {
  height: 100%;
}

body > #root > div {
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body > #root > div::-webkit-scrollbar {
  overflow: hidden;
}
